<main style="padding-top: 25%">
    <div class="container d-flex align-items-center justify-content-center">
        <div class="text-center">
            <h1 style="font-weight:bolder">Access Denied</h1>
            <h6>Sorry, you do not have permission to view this page.</h6>
        </div>
    </div>
</main>